# Database Connection URL for PostgreSQL / pgAdmin 4
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/puc_db?schema=public"

# Application Secrets
CRON_SECRET="rto_cron_secret_key_2026"
ADMIN_PASSWORD="7013669423@p"

# Firebase Web App Configuration (stfi-network)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCl0rR2mQp5URc6msI90_NHP8SD9uZTQS4"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="stfi-network.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="stfi-network"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="stfi-network.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="666799009288"
NEXT_PUBLIC_FIREBASE_APP_ID="1:666799009288:web:5f6497289653170be12bbd"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-K7T1L258W6"
